html, body {
	font-family: 'Roboto', sans-serif;
	color: #252525;
	background: #f7f7f7;
}

main#wrapper {
	width: 1300px;
	max-width: 100%;
	min-width: 180px;
	margin: 0 auto;
}

aside#sidebar {
	float: right;
	width: 340px;
}

aside#sidebar ul {
	list-style: none;
}

div#content {
	float: left;
	width: 960px;
	max-width: 100%;
	min-width: 160px; 
}

header#blog-header {
	background: #e74c3c;
	height: 70px;
	text-align: center;
	margin: 0;
	padding: 20px;
}

header#blog-header a {
	color: #f7f7f7;
	text-decoration: none;
}

h1#blog-title {
	margin: 0;
	padding: 0;
}

nav#menu {
	background: #ff9925;
	height: 40px;
	margin-bottom: 30px;
}

nav#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav#menu ul li {
	float: left;
	text-align: center;
	height: 30px;
	width: 100px;
	background: red;
	margin-right: 10px;
}

nav#menu ul li:last-child {
	margin: 0;
}

nav#menu ul li a {
	display: block;
	text-decoration: none;
	color: #f7f7f7;
}

article.post {
	border: 2px solid red;
	margin-bottom: 20px;
	padding: 20px;
}

article.post:last-child {
	margin-top: 100px;
}

footer#blog-footer {
	color: #f7f7f7;
	background: #333333;
	text-align: center;
	padding: 30px;
	clear: both;
}
