// Fonts
$oswald: Oswald, 'sans-serif';
$roboto: Roboto, 'sans-serif';

// Colors
$black: #252525;
$white: #fff;
$light-grey: #ddd;
$dark-grey: #333333;
$brown: #533232;
$light-red: #9a1d1d;
$dark-red: #a53a3a;
$blue: #2b67af;
