#blog-header {
	font-family: 'Oswald', sans-serif;
	background: $orange;
	text-align: center;
	height: 70px;
	margin: 0;
	padding: 20px;
}

#blog-title {
	margin: 0;
	padding: 0;
}

#blog-title a {
	color: $white;
	text-decoration: none;
}

#blog-tagline {
	color: $brown;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 1px;
}
