#blog-header {
	font-family: $oswald;
	background: $dark-red;
	color: $white;
	text-align: center;
	height: 90px;
	margin: 0;
	padding: 20px;
}

#blog-title {
	margin: 5px;
	padding: 0;
}

#blog-title a {
	text-decoration: none;
	color: $white;
}

#blog-tagline {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 1px;
	background: $light-red;
	margin: 20px;
	padding: 5px;
	border-radius: 7px;
}
