html, body {
	font-family: $roboto;
	color: $black;
	background: $white;
}

#wrapper {
	width: 1300px;
	max-width: 100%;
	min-width: 180px;
	margin: 0 auto;
}

#sidebar {
	width: 340px;
	margin-left: 20px;
	float: right;
}

#sidebar .screen-reader-text {
	display: none;
}

.widget-title {
	font-family: 'Oswald', sans-serif;
}

#content {
	width: 940px;
	max-width: 100%;
	min-width: 160px;
	float: left; 
}
