html, body {
	font-family: $roboto;
	color: $black;
	background: $white;
}

main#wrapper {
	width: 1300px;
	max-width: 100%;
	min-width: 180px;
	margin: 0 auto;
}

aside#sidebar {
	width: 340px;
	float: right;
}

div#content {
	width: 960px;
	max-width: 100%;
	min-width: 160px;
	float: left; 
}
