#navigation {
	background: $light-red;
	text-align: center;
	margin-bottom: 20px;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation ul li {
	display: inline-block;
}

#navigation ul li a {
	display: block;
	margin: -4px;
	padding: 25px;
	color: $white;
}

#navigation ul li a:hover {
	text-decoration: none;
}

#navigation ul li:hover {
	background: $dark-red;
}
