body.page article.post, body.single-post article.post {
	border: none;
}

body.page article.post header.post-header small.date-author {
	display: none;
}

body.page article.post footer.post-footer span.post-meta-data {
	display: none;
}
